<div class="banner-dashboard d-flex flex-column">
  <div class="heading text-center p-3 col"><h1 class="foo"><%= @user.first_name  %>'s Dashboard</h1></div>
    <div class="row d-flex justify-content-center">
      
     
      
        
          <div class="card-dashboard col-11 d-flex flex-column justify-content-center p-1">
            <h4>Booking For My Heroes</h4>
            <ol>
              <% @user.heroes.each do |hero| %>
                <% hero.bookings.each do |booking| %>
                <li>
                  Booked: <%= booking.hero.name %> |
                  From: <%= booking.start_date %> |
                  To: <%= booking.end_date %> |
                  Price: $<%= booking.total_price %> AUD |
                  <br>
                  Status: <%= booking.status %>

                 <% if booking.end_date < Date.today && booking.status == "Accepted" && booking.reviews.empty? %>
                  <div id="edit-hero-modal-trigger d-inline-block">
                      <button type="button" class="btn btn-green d-inline-block" data-toggle="modal" data-target="#review-form" id="modal-edit-review">
                        Write a review
                      </button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="review-form" tabindex="-1" role="dialog" aria-labelledby="review-form-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <%= simple_form_for [booking, @review] do |f| %>
                        <div class="modal-header">
                          <h5 class="modal-title d-inline-block" id="review-form-label">Write a review</h5>
                          <span class="ml-2"><%= icon('fas', 'pencil-alt')%></span>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= f.input :content %>
                          <%= f.input :rating, collection: 0..5 %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Close</button>
                          <%= f.button :submit, class: "btn-green mb-3" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% end %>
              </li>
              <% end %>
            </ol>
          </div>
        </div>

        <div class="row d-flex">
        
        <div class="col-10 col-md-5 d-flex flex-column justify-content-center card-dashboard p-1 mx-auto my-3">
          
            <h4>My bookings</h4>
            <ol>
                <% @user.bookings.each do |booking| %>
                <li>
                    Booked: <%= booking.hero.name %> |
                    From: <%= booking.start_date %> |
                    To: <%= booking.end_date %> |
                    Price: $<%= booking.total_price %> AUD |
                    <br>
                    Status: <%= booking.status %>

                  <% if booking.end_date < Date.today && booking.status == "Accepted"%>
                    <%= link_to "Write a Review", new_booking_review_path(booking) %>
                        <%= simple_form_for [booking, @review] do |f| %>
                            <%= f.input :content %>
                            <%= f.input :rating, collection: 0..5 %>
                            <%= f.submit %>
                        <% end %>
                    <% end %>
                </li>
                <% end %>
            </ol>
          
        </div>

        <div class="col-10 col-md-5 d-flex flex-column justify-content-center card-dashboard p-1 mx-auto my-3">
        
            <h4>My Heroes</h4>
                <ul>
                    <% @user.heroes.each do |hero| %>
                        <li> Name: <%= hero.name %> <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, hero_path(hero),  method: :delete, data: { confirm: "Are you sure?" } %></li>
                    <% end %>
                </ul>
        
          <div class="m-5"><%= link_to 'Add a New Hero', new_hero_path, class:"btn btn-primary" %></div>
        </div>


        </div>
      
      <div class="foo">
  <span class="letter" data-letter="Apple">Apple</span>
  <span class="letter" data-letter="B">B</span>
  <span class="letter" data-letter="C">C</span>
  <span class="letter" data-letter="D">D</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="F">F</span>
  <span class="letter" data-letter="G">G</span>
  <span class="letter" data-letter="H">H</span>
  <span class="letter" data-letter="I">I</span>
  <span class="letter" data-letter="L">L</span>
  <span class="letter" data-letter="M">M</span>
  <span class="letter" data-letter="N">N</span>
  <span class="letter" data-letter="O">O</span>
  <span class="letter" data-letter="P">P</span>
  <span class="letter" data-letter="Q">Q</span>
  <span class="letter" data-letter="R">R</span>
  <span class="letter" data-letter="S">S</span>
  <span class="letter" data-letter="T">T</span>
  <span class="letter" data-letter="U">U</span>
  <span class="letter" data-letter="V">V</span>
  <span class="letter" data-letter="Z">Z</span>
</div>

  
  
</div>

