<h1>Dashboard Test</h1>
<h3><%= @user.first_name  %>'s Dashboard</h3>
<h4>Bookings</h4>
<ul>
<% @user.bookings.each do |booking| %>
    <li>
       From: <%= booking.start_date %> |
       To: <%= booking.end_date %> |
       Price: $<%= booking.total_price %> AUD |
       Booked by: <%= booking.user[:first_name] %> <%= booking.user[:last_name] %>
       Status: <%= booking.status %> <%= link_to "Accept booking", hero_booking_path(booking.hero, booking, status: "Accepted"), method: :patch %> <%= link_to "Decline booking", hero_booking_path(booking.hero, booking, status: "Declined"), method: :patch %>
    </li>
    <% end %>
</ul>
