<h1>Dashboard Test</h1>
<h3><%= @user.first_name  %>'s Dashboard</h3>
<%= link_to 'Add a new Hero', new_hero_path %>
<h4>Bookings</h4>
<ul>
<% @user.bookings.each do |booking| %>
    <li>
       From: <%= booking.start_date %> |
       To: <%= booking.end_date %> |
       Price: $<%= booking.total_price %> AUD |
       Booked: <%= booking.hero.name %>
       Status: <%= booking.status %> 
       <% if booking.hero.user == current_user %> <%#= only the owner can accept/decline a booking %>
       <%= link_to "Accept booking", hero_booking_path(booking.hero, booking, status: "Accepted"), method: :patch %> <%= link_to "Decline booking", hero_booking_path(booking.hero, booking, status: "Declined"), method: :patch %>
       <% end %>
       <% if booking.end_date < Date.today && booking.status == "Accepted"%>
        <%= link_to "Write a Review", new_booking_review_path(booking) %>
        <% end %>
    </li>

    <% end %>
</ul>

<h4>My Heroes</h4>
<ul>
<% @user.heroes.each do |hero| %>
	<li> Name: <%= hero.name %> </li> <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, hero_path(hero),  method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</ul>
