
<div class="row">

  <div class="col-12 col-md-7 card-list banner-index d-flex justify-content-center flex-column">
    <h1 class="my-5 text-center">Our Heroes</h1>

    <% @heroes.each do |hero| %>

      <%= link_to hero_path(hero) do %>

        <div class="card-product my-2">
       <% if hero.photo.attached? %>
        <%= cl_image_tag hero.photo.key, crop: :fill %>
        <%else%>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
        <%end%>
          <div class="card-content">
            <div class="card-product-infos">
              <h2><%= hero.name %></h2>
              <p><%= hero.power %></p>
              <p><em>"<%= hero.description %>"</em></p>
            </div>
            <h2 class="price"><%= hero.price %> $</h2>
            <div class="avg-ratings-hero stars">
              <% if hero.reviews.any? %>
                <%= icon('fas', 'star') * hero.reviews.average(:rating).to_i %><%= icon('far', 'star') * (5 - hero.reviews.average(:rating).to_i) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </ul>

  </div>

  <div class="col-12 col-md-5 px-0 mx-0">
    <div id="map" style="width: auto; height: 100vh;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>



