<h1>Add a new Hero</h1>
<%= simple_form_for(@hero) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.input :power %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>