<h1>Hero Profile</h1>

<ul>
    <li>Name: <%= @hero.name %> </li>
    <li>Power: <%= @hero.power %> </li>
    <li>Description: <%= @hero.description %> </li>
    <li>Address: <%= @hero.address %> </li>
    <li>Price Per/Day: $<%= @hero.price %> AUD </li>
</ul>

<h4>This Hero is booked for:</h4>

<ul>
    <% @hero.bookings.each do |booking| %>
    <li>
       From: <%= booking.start_date %> |
       To: <%= booking.end_date %> |
       Price: $<%= booking.total_price %> AUD |
       Booked by: <%= booking.user[:first_name] %> <%= booking.user[:last_name] %>
    </li>
    <% end %>
</ul>

<h4>Book Hero:</h4>

<%= simple_form_for [@hero, @booking]  do |f| %>
  <%= f.input :start_date, as: :date, start_year: Date.today.year - 0  %>
  <%= f.input :end_date, as: :date, start_year: Date.today.year - 0 %>
  <%= f.submit "Book Hero" %>
<% end %>

<%= link_to 'Go Back', heroes_path%>
