<div class="hero-show">

<h1 class="text-center py-3"> <%= @hero.name %></h1>
<div class="row d-flex justify-content-center">
  <div class="card-product show-card p-0 m-auto col-11 d-flex justify-content-start">
      <% if @hero.photo.attached? %>
        <%= cl_image_tag @hero.photo.key, crop: :fill %>
      <%else%>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
      <%end%>
      <div class="card-content">
        <div class="card-product-infos">
          <h3 class="pb-2"><span class="highlight">Super Power: </span><%= @hero.power %></h3>
          <h2 class="pb-2"><span class="highlight">Description: </span><%= @hero.description %></h2>
          <h2 class="pb-2"><span class="highlight">Location: </span><%= @hero.address %></></h2>
        </div>
        <h2 class="price">From: $<%= @hero.price %> / day</h2>
        <div id="edit-hero-modal-trigger">
            <% if current_user == @hero.user %>
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#heroes-form" id="modal-edit-hero">
                <%= icon('fas', 'pencil-alt')%> <span class="icon-white ml-2"></span>
              </button>
            <% end %>
        </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">

  <div class="card-product booking-card mx-auto my-3 col-10 col-md-6 d-flex flex-column justify-content-center">
    <h4 class="pt-2">Book this Hero</h4>
      <%= simple_form_for [@hero, @booking],
        wrapper: :inline_form,
        html: { class: "form-inline" },
        wrapper_mappings: {
        boolean: :inline_boolean
        } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { class: "mb-2 mr-sm-2" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "mb-2 mr-sm-2" } %>
          <%= f.button :submit, class: "btn btn-flat-book mb-2" %>
      <% end %>
  </div>
  <div class="card-product mx-auto my-3 col-10 col-md-4 d-flex flex-column justify-content-center">
    <h4>This Hero is unavailable for:</h4>
      <ul>
        <% @hero.bookings.each do |booking| %>
          <li><p>
            From: <%= booking.start_date %> |
            To: <%= booking.end_date %> |
            Status: <%= booking.status %>
          </p></li>
        <% end %>
      </ul>
  </div>
  <div class="card-product mx-auto m-3 col-6 d-flex flex-column justify-content-center">
    <h4> Reviews </h4>
    <% @hero.reviews.each do |review| %>
      <div class="review-card">
        <%= review.booking.user.first_name %>
        <%= review.content %>
        <%= review.rating %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center back-btn">
<%= link_to ('<i class="far fa-arrow-alt-circle-left"></i>').html_safe, heroes_path%>
</div>
</div>

  <div class="edit-hero">
    <% if current_user == @hero.user %>

    <!-- Modal -->
    <div class="modal fade" id="heroes-form" tabindex="-1" role="dialog" aria-labelledby="heroes-form-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= simple_form_for(@hero) do |f| %>
          <div class="modal-header">
            <h5 class="modal-title d-inline-block" id="heroes-form-label">Edit <%= @hero.name %></h5>
            <span class="ml-2"><%= icon('fas', 'pencil-alt')%></span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.input :name %>
            <%= f.input :power%>
            <%= f.input :description %>
            <%= f.input :address %>
            <%= f.input :price %>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn-green mb-3" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>




